/*Fonts */

.roboto-uniquifier {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
  
  body{
      background-color: white;
      margin: 0;
  
  }
  
  main{
      display: flex;
      width: auto;
      height: 100dvh;
      
      justify-content: center;
      align-items: center;

      top: 40px;
      position: relative;
  }
  
  h1{
      font-family: Roboto;
      font-weight: normal;
  
      line-height: 28px;
  }
  
  span{
      font-family: Roboto;
  }
  
  label{
      font-family: Roboto;
  }
  
  h4{
      width: 50%;
      color: rgba(0, 0, 0, 0.359);
  
      text-align: justify;
      font-size: 10pt;
      font-family: Roboto;
      font-weight: normal;
  
      margin: 0;
  }
  
  h3{
      width: 50%;
      color: rgba(0, 0, 0, 0.57);
      font-size: 12pt;
      margin: 0;
  
      text-align: center;
      font-family: Roboto;
      font-weight: normal;
  }
  
  .main-content-login{
      display: flex;
      width: 75%;
      height: 87%;
  
      background-color: rgba(127, 255, 212, 0);
  
      justify-content: space-evenly;
      align-items: center;
  }
  
  .section-content-login{
      display: flex;
      width: 400px;
      height: 100%;
  
      background-color: rgba(255, 235, 205, 0);
      padding: 15px;
  
      flex-direction: column;
      row-gap: 15px;
  
      align-items: center;
      justify-content: center;
  }
  
  .section-content-img-login{
      width: auto;
      height: 70px;
  }
  
  .section-content-img-login img{
      width: 100%;
      height: 100%;
  
      object-fit: contain;
  }
  
  .inputs-login{
      width: 100%;
      display: flex;
      flex-direction: column;
  
      gap: 10px;
  }
  
  .inputs-login input{
      padding: 10px;
      background-color: rgba(255, 255, 255, 0);
      border: none;
      border-bottom: 2px solid gray;
      transition: font-size 0.3s, border-bottom 0.2s;
  }
  
  .inputs-login input:hover{
      color: #1714A8;
      border-bottom: 2px solid #1714A8;
  }
  
  .inputs-login input:focus{
      outline: none;
      font-size: 13pt;
  
      color: #1714A8;
      border-bottom: 2px solid #1714A8;
  }
  
  .btn-action{
      text-align: center;
      width: 100%;
      height: auto;
      padding-top: 15px;
      padding-bottom: 15px;
  
      background-color: #1714A8;
  
      color: white;
      font-size: 13pt;
      font-family: Roboto;
  
      text-decoration: none;
  
      border-radius: 10px;
  
      margin-top: 35px;
  
      transition: letter-spacing 0.3s;
  }
  
  .btn-action:hover{
      background-color: #14118d;
      letter-spacing: 6px;
  }
  
  .section-content-h1-login{
      width: 300px;
      margin-bottom: 20px;
  }
  
  .section-content-h1-login h1{
      margin: 0;
      text-align: center;
      font-size: 2.5dvw;
  }
  
  .content-size-login{
      display: flex;
      width: 82%;
  
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      gap: 15px;
  }
  
  .remember-content-login{
      width: 100%;
      text-align: start;
  }
  
  .input[type="checkbox" i]{
      background-color: #1714A8;
  }
  
  .block-hero-login{
      width: 600px;
      height: 90%;
  }
  
  .block-hero-login img{
      width: 100%;
      height: 100%;
  
      object-fit: contain;
  }

  .btn-contact{
    text-align: center;
    width: 250px;
    padding: 13px;
    border: #1714A8 3px solid;

    border-radius: 12px;
    font-family: Roboto;
  }

  /*Contact */

  .svg-icon-contact{
    width: 30px;
  }

  .svg-icon-contact img{
    width: 100%;
    height: 100%;
  }
  /* Contact */

/* HEADER */

/*Offcanvas*/
.offcanvas {
    display: none;
    width: 100% !important;
    z-index: 1050;
}

.offcanvas-body {
    justify-content: end;
}

.offcanvas-header {
    height: 100px;
}

.btn-close {
    margin-right: 20px !important;
}

/*Offcanvas*/

/* Forçar o menu desktop a aparecer e ficar à direita em telas grandes */
@media (min-width: 992px) {
    .navbar-nav-alternative {
        display: none !important;
    }

    #navbarDesktop {
        display: flex !important;
        justify-content: flex-end !important;
    }

    .navbar-collapse {
        flex-grow: 1;
    }
}

/* Garantir que o offcanvas funcione corretamente no mobile */
@media (max-width: 991px) {
    #navbarDesktop {
        display: none !important;
    }

    .navbar-nav-alternative {
        display: flex !important;
        padding: 0;
        flex-direction: column;
    }

    .navbar-nav-alternative a {
        color: #1800ad;
        text-decoration: none;
        width: 100%;
    }

    .navbar-nav-alternative li {
        display: flex;
        width: 100%;
        padding: 25px;
        border-bottom: 2px solid #15029163;
        border-radius: 0px;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-nav-alternative li span {
        font-size: 17pt;
        color: #1800ad;
    }

    .navbar-nav-alternative li:hover {
        background-color: rgba(128, 128, 128, 0.178);
        cursor: pointer;
    }

    .navbar-nav-alternative img {
        height: 20px;
    }
}

/* Garantir que o menu desktop apareça apenas em telas grandes */
@media (min-width: 992px) {
    .navbar-nav-alternative {
        display: none !important;
    }

}

/* Garantir que o offcanvas funcione corretamente no mobile */
@media (max-width: 991px) {
    #navbarDesktop {
        display: none !important;
    }

    .offcanvas {
        display: flex !important;
        width: 100% !important;
        z-index: 1050;
        visibility: visible !important;
    }

    .offcanvas-body {
        
        justify-content: end;
        visibility: visible !important;
    }

    .offcanvas-header {
        
        height: 100px;
        visibility: visible !important;
    }



    .navbar-nav-alternative {
        display: flex !important;
        padding: 0;
        flex-direction: column;
    }

    .navbar-nav-alternative a {
        color: #1800ad;
        text-decoration: none;
        width: 100%;
    }

    .navbar-nav-alternative li {
        display: flex;
        width: 100%;
        padding: 25px;
        border-bottom: 2px solid #15029163;
        border-radius: 0px;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-nav-alternative li span {
        font-size: 17pt;
        color: #1800ad;
    }

    .navbar-nav-alternative li:hover {
        background-color: rgba(128, 128, 128, 0.178);
        cursor: pointer;
    }

    .navbar-nav-alternative img {
        height: 20px;
    }
}


header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    box-shadow: 0px 3px 9px 0px #0000001c;
    z-index: 2;
}

/* Faz o risco apareer quando a tela é pequena */
@media (max-width: 992px) {
    ul {

        border-top: 1px solid #1700ad75;
        margin-top: 15px;
        padding-top: 10px;


    }
}

.btn-destaque {
    background-color: #1D00D1;
    border: 1px solid #1D00D1;
    width: fit-content;
    transition: ease-in-out 0.3s;
    color: white;

    a {
        transition: ease-in-out 0.3s;
        color: white !important;
    }
}

.btn-destaque:hover {
    border: 1px solid #1D00D1;
    background-color: #ffffff;
    color: #1D00D1;
    a {
        color: #1D00D1 !important;
    }
}

#logo {
    display: none !important;
}

.hide-button {
    display: flex;
    position: absolute;
    width: 100%;
    height: 700px;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0);
    justify-self: end;
    justify-content: end;
    align-items: end;
    z-index: 10;
}


.camada {
    z-index: 13;
}

.camada-nav {
    z-index: 900;
}

.hide {
    position: static;
    width: 100%;
    height: 60px;

    background-color: #ffffff;
}

.navbar-brand {
    img {
        width: 50px;
    }
}

.nav-item {
    border-radius: 5px;
    padding: 0px 0.5rem;
    width: fit-content;
    transition: ease-in-out 0.3s;
    border: 1px solid transparent;
}

.nav-item:hover {
    border: #5964ff 1px solid;

}


.navbar-nav .nav-link.show{
    color: #a0a0a0;
}
                                    
.nav-item-icon {
    border-radius: 10px!important;
    padding: 0px 0.5rem!important;
    width: 42px!important;
    height: 42px!important;

    width: fit-content!important;
    background-color: #ffffff!important;
    transition: ease-in-out 0.3s!important;
    color: #1D00D1!important;
    border: 1px solid transparent!important;
}

.nav-item-icon:hover {
    border: #5964ff 1px solid!important;
    background-color: #1D00D1!important;
    color: #ffffff!important;

}

.nav-link-icon {
    font-size: 1.3rem!important;
    width: 42px!important;
    height: 42px!important;
    color: #1D00D1!important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}


.nav-link-icon:hover {
    font-size: 1.3rem!important;
    border-radius: 50px!important;
    width: 42px!important;
    height: 42px!important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    color: #ffffff !important;
}
/* HEADER */

/*Footer*/
footer {
    display: flex;
    margin: auto;
    width: 85%;
    height: 300px;

    background-color: #1811AC;
    border-radius: 10px 10px 0px 0px;

    padding: 35px 35px 35px 55px;

    ul {
        list-style: none;
        margin-top: 20px;
    }

    ul h1 {
        font-family: Roboto;
        font-size: 15pt;
        color: white;
    }

    li {
        font-family: Roboto;
        font-size: 11pt;
    }

    li a {
        color: rgba(255, 255, 255, 0.653);
        text-decoration: none;
    }

    li a:hover {
        color: rgb(255, 255, 255);
        text-decoration: underline;
    }
}

.svg-footer-content {
    width: 40%;
    height: 100%;

    background-color: #2a20dd00;
}

.svg-logo-footer {
    width: 150px;
}

.svg-logo-footer img {
    width: 100%;
    height: 100%;


    filter: brightness(0) invert(100%);
}

.svg-social-footer {
    display: flex;
    width: 150px;
    height: 30px;

    background-color: #1e15ce00;

    column-gap: 10px;
}

.svg-social-footer img {
    height: 100%;
    filter: invert();
}

.link-footer {
    display: flex;
    width: 60%;
    height: 100%;

    background-color: rgba(250, 235, 215, 0);

    column-gap: 45px;
}


/*Footer*/

@media (max-width: 600px) {
    .link-footer{
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    .link-footer h1{
        text-align: start;
    }

    footer{
        height: auto !important;
    }

    .filter-search-bar{
        display: flex;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 10px;
    }

    .filter-search-bar h1{
        display: none;
        height: auto;
        line-height: 15px;
        border-right: 0px;
        border-bottom: 1px solid white;
        padding-bottom: 5px;

        text-align: center;
    }

    .filter-search-bar img{
        display: none;
    }

    .filter-search-bar select{
        display: none;
    }

    .search-bar{
        height: 40px;
        margin-left: 0;
        width: 70%;
    }

    .search-bar:focus{
        width: 90%;
    }

    .blur{
        width: 97%;
    }

}

@media (max-width: 510px){
    footer{
        display: flex;
        flex-direction: column;
    }
}

.dropdown-menu{
    --bs-dropdown-link-active-bg: #1811AC;
}

/*Footer*/

