/*Fonts */

@font-face {
    font-family: Lovelo;
    src: url(../fonts/Lovelo\ Black.otf);
}


.roboto-uniquifier {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.margem-top {
    margin-top: 100px;
}

body {
    background-color: white;
    margin: 0;
    width: 100%;

}

main {
    padding-top: 130px;
    width: auto;
    height: 100dvh;

    justify-content: center;
    align-items: center;
}




h1 {
    font-family: Lovelo;
    font-weight: normal;
    font-size: 40pt;


}

p {
    font-family: Roboto;
    color: #313131;
    text-align: justify;
    margin-left: 5px;
    margin-bottom: 4rem;
}

/* Coloca o texto do hero alinhado pro centro */
@media (max-width: 1200px) {
    h1 {
        text-align: center;
    }

    p {
        text-align: center;
        margin-left: 0px;
    }

    .buttons-home{
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        margin-bottom: 50px;
    }

}

span {
    font-family: Roboto;
}

label {
    font-family: Roboto;
}

h4 {
    width: 50%;
    color: rgba(0, 0, 0, 0.359);

    text-align: justify;
    font-size: 10pt;
    font-family: Roboto;
    font-weight: normal;

    margin: 0;
}

h3 {
    width: 50%;
    color: rgba(0, 0, 0, 0.57);
    font-size: 12pt;
    margin: 0;

    text-align: center;
    font-family: Roboto;
    font-weight: normal;
}

/* HEADER */
header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    box-shadow: 0px 3px 9px 0px #0000001c;
    z-index: 2;
}

/* Faz o risco apareer quando a tela é pequena */
@media (max-width: 992px) {
    ul {

        border-top: 1px solid #1700ad75;
        margin-top: 15px;
        padding-top: 10px;


    }
}

#logo {
    display: none !important;
}

.hide-button {
    display: flex;
    position: absolute;
    width: 100%;
    height: 700px;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0);
    justify-self: end;
    justify-content: end;
    align-items: end;
    z-index: 10;
}

.camada {
    z-index: 13;
}

.camada-nav {
    z-index: 900;
}

.hide {
    position: static;
    width: 100%;
    height: 60px;

    background-color: #ffffff;
}

.navbar-brand {
    img {
        width: 50px;
    }
}

.nav-item {
    border-radius: 5px;
    padding: 0px 0.5rem;
    width: fit-content;
    transition: ease-in-out 0.3s;
    border: 1px solid transparent;
}

.nav-item:hover {
    border: #5964ff 1px solid;
}

.btn-destaque {
    background-color: #1D00D1;
    border: 1px solid #1D00D1;
    width: fit-content;
    transition: ease-in-out 0.3s;
    color: white;

    a {
        transition: ease-in-out 0.3s;
        color: white !important;
    }
}

.btn-destaque:hover {
    border: 1px solid #1D00D1;
    background-color: #ffffff;
    color: #1D00D1;
    a {
        color: #1D00D1 !important;
    }
}


/* HEADER */


/* Conteúdo Home */


/* Botoes Home Inicio */


.dif {
    background-color: transparent;
    width: fit-content;
    border: 2px solid #c2c2c2;
    transition: ease-in-out 0.3s;
    color: #c2c2c2;
}

.dif:hover {
    border: 2px solid #1D00D1;
    background-color: #ffffff;
}
/* Botoes Home Inicio */

.arrow{
    display: flex;
    margin: auto;

    justify-content: center;
}

.arrow img{
    position: relative;
    top: -88px;
    z-index: 880;
}

/*Floating animação */
.floating {
            position: relative;
            animation: float 3s ease-in-out infinite;
        }

        @keyframes float {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-10px);
            }

            100% {
                transform: translateY(0);
            }
        }
/*Floating animação */

.titulo-home {
    font-family: Lovelo;
    font-size: 3rem;
    font-weight: normal;
    color: #000000;
    line-height: 90%;

    span {
        color: #1700ad;
        font-family: Lovelo;
    }

}

.buttons-home{
    display: flex;
    column-gap: 15px;
}

.buttons-home button{
    display: flex;
    width: 200px;
    height: 50px;
    padding: 0 !important;

    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}


.container p{
    opacity: 80%;
}

.camada-1 {
    z-index: 1;
}

.imagem-home {
    width: 100%;
    height: auto;
    display: flex;
    z-index: 5;

    img {
        width: 80%;
        height: auto;
    }
}

.altura {
    display: flex;
    height: 80vh;
    justify-content: center;
}

.largura {
    margin: 0px;
    padding: 0px;
    display: flex;

}

video {

    height: 700px;
    border-radius: 15px;
}

spline-viewer {
    height: 700px;
    z-index: 200;
}

/* ajusta o tamanho da imagem e botôes (LOGO e IMG)  */
@media (max-width: 1200px) {
    .hero-home {

        margin-bottom: 0px;
        justify-content: center;
        align-items: center;

        button {
            margin: auto;
        }

        img {

            margin: auto;
        }
    }

}


@media (max-width: 1200px) {
    .imagem-home {
        width: 100%;
        height: auto;
        display: flex;

        img {
            width: 40%;
            height: auto;
        }

    }

}

@media (max-width: 992px) {
    .imagem-home {
        width: 100%;
        height: auto;
        display: flex;

        img {

            width: 50%;
        }
    }

    .informacoes2{
        display: flex !important;
        flex-direction: column-reverse !important;
    }

    .marka img{
        height: 300px !important;
    }

}

@media (max-width: 768px) {
    .imagem-home {
        display: none !important;
        width: 100%;
        height: auto;
        display: flex;

        img {
            width: 70%;
            height: auto;
        }
    }

    .imagem-home spline-viewer{
        display: none  !important;
    }

    .hide-button{
        display: none !important;
    }

    .hide{
        display: none !important;
    }

    .arrow img{
        top: 0px;
    }

    section .container{
        margin-top: 40px;
    }

}

@media (max-width: 600px) {
    .link-footer{
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    .link-footer h1{
        text-align: start;
    }

    footer{
        height: auto !important;
    }

}

@media (max-width: 510px){
    footer{
        display: flex;
        flex-direction: column;
    }
}

.a-bonito {
    color: #1700ad;
    text-decoration: none;
}

.a-bonito:hover {
    color: #5964ff;
    text-decoration: underline;
    cursor: pointer;

}

.btn {
    font-family: Roboto;
    font-weight: normal;
    padding: 5px 78px;
    font-size: 14pt;
    margin-bottom: 10px;

}

/* ----------------------  */

.marquee {
    width: 100%;
    height: auto;
}

/* Section com contéudo */
.section-informacoes {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #cde0f700);
}


.marka {
    display: flex;
    width: auto;

    img {
        rotate: 180;
        display: flex;
        width: 100%;
        height: 370px;
        object-fit: contain;
    }
}

.margem {
    margin-top: 100px;
    margin-bottom: 100px;
}



.informacoes {
    padding: 30px;
    margin-top: 50px;

}

.informacoes2 {
    padding: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;

}

.info-img {
    padding: 5px;
    border: 1px solid #1800ad;
    border-radius: 5px;
    background-color: white;

}

.info-text {
    height: auto !important;
    padding: 30px;
}

@media (max-width: 768px) {
    .informacoes2 {
        padding: 30px;
        margin-top: 50px;
        display: flex;
        flex-direction: column-reverse;

    }

    .info-img {
        padding: 20px 50px;

    }

    .info-text {
        padding: 0px 50px;
    }

}

.titulinho {
    padding: 10px;
    font-family: Lovelo;
    font-weight: normal;
    font-size: 30pt;
    color: #1700ad;
    justify-content: center;
    text-align: center;
    display: flex;
    border-bottom: 2px solid #1700ad;


}

.texto-info {
    margin: 0;
    font-size: 15pt;
    height: auto;
}

/* ----------------------  */


/*Footer*/
footer {
    display: flex;
    margin: auto;
    width: 85%;
    height: 300px;

    background-color: #1811AC;
    border-radius: 10px 10px 0px 0px;

    padding: 35px 35px 35px 55px;

    ul {
        list-style: none;
        margin-top: 20px;
    }

    ul h1 {
        font-family: Roboto;
        font-size: 15pt;
        color: white;
    }

    li {
        font-family: Roboto;
        font-size: 11pt;
    }

    li a {
        color: rgba(255, 255, 255, 0.653);
        text-decoration: none;
    }

    li a:hover {
        color: rgb(255, 255, 255);
        text-decoration: underline;
    }
}

.svg-footer-content {
    width: 40%;
    height: 100%;

    background-color: #2a20dd00;
}

.svg-logo-footer {
    width: 150px;
}

.svg-logo-footer img {
    width: 100%;
    height: 100%;


    filter: brightness(0) invert(100%);
}

.svg-social-footer {
    display: flex;
    width: 150px;
    height: 30px;

    background-color: #1e15ce00;

    column-gap: 10px;
}

.svg-social-footer img {
    height: 100%;
    filter: invert();
}

.link-footer {
    display: flex;
    width: 60%;
    height: 100%;

    background-color: rgba(250, 235, 215, 0);

    column-gap: 45px;
}

@media (max-width: 600px) {
    .link-footer{
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    .link-footer h1{
        text-align: start;
    }

    footer{
        height: auto !important;
    }

    .filter-search-bar{
        display: flex;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 10px;
    }

    .filter-search-bar h1{
        display: none;
        height: auto;
        line-height: 15px;
        border-right: 0px;
        border-bottom: 1px solid white;
        padding-bottom: 5px;

        text-align: center;
    }

    .filter-search-bar img{
        display: none;
    }

    .filter-search-bar select{
        display: none;
    }

    .search-bar{
        height: 40px;
        margin-left: 0;
        width: 70%;
    }

    .search-bar:focus{
        width: 90%;
    }

    .blur{
        width: 97%;
    }

}

@media (max-width: 510px){
    footer{
        display: flex;
        flex-direction: column;
    }
}

.dropdown-menu{
    --bs-dropdown-link-active-bg: #1811AC;
}

/*Footer*/


/*Marquee de marcas*/

:root {
  --color-text: navy;
  --color-bg: #2626a0;
  --color-bg-accent: #2626a0;
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #1700ad;
    --color-bg: #1700ad;
    --color-bg-accent: #1700ad;
  }
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
  opacity: 100%;
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

.marquee--vertical {
  --mask-direction: to bottom;
}

.marquee--vertical,
.marquee--vertical .marquee__group {
  flex-direction: column;
}

.marquee--vertical .marquee__group {
  animation-name: scroll-y;
}

.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: -3s;
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

@keyframes scroll-y {
  from {
    transform: translateY(var(--scroll-start));
  }
  to {
    transform: translateY(var(--scroll-end));
  }
}

/* Element styles */
.marquee svg {
  display: grid;
  place-items: center;
  width: 170px;
  fill: var(--color-text);
  background: rgba(155, 155, 155, 0.059);
  aspect-ratio: 16/9;
  padding: 20px;
  border-radius: 0.3rem;
}

.marquee--vertical svg {
  aspect-ratio: 1;
  width: calc(var(--size) / 1.5);
  padding: calc(var(--size) / 6);
}

/* Parent wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
  max-width: 100vw;

  background-color: #ffffff;
}

.wrapper--vertical {
  flex-direction: row;
  height: 100vh;
}

/* Toggle direction button */
.toggle {
  --size: 3rem;
  position: relative;
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: var(--size);
  height: var(--size);
  font: inherit;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50%;
  color: inherit;
  background-color: var(--color-bg-accent);
  z-index: 1;
}

.toggle:focus-visible {
  box-shadow: 0 0 0 2px var(--color-text);
}

.toggle span {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: calc(100% + 0.4em);
  width: fit-content;
  white-space: nowrap;
  transform: translateY(-50%);
  animation: fade 400ms 4s ease-out forwards;
  user-select: none;
}

.toggle svg {
  --size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--size);
  height: var(--size);
  fill: currentcolor;
  transform: translate(-50%, -50%);
  transition: transform 300ms cubic-bezier(0.25, 1, 0.5, 1);
}

.toggle--vertical svg {
  transform: translate(-50%, -50%) rotate(-90deg);
}

@keyframes fade {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
/* Marquee de marcas*/


/* Animação fade*/
.fade-in-element {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Estilo quando elemento está visível */
.fade-in-visible {
    opacity: 1;
    transform: translateY(0);
}

/* Variações de delay para criar efeito cascata */
.informacoes .info-img {
    transition-delay: 0.1s;
}

.informacoes .info-text {
    transition-delay: 0.2s;
}

.informacoes2 .info-text {
    transition-delay: 0.1s;
    height: auto !important;

    margin-bottom: 60px;
}

.informacoes2 .info-img {
    transition-delay: 0.2s;
}

/* Hero section com fade mais suave - removido opacity inicial */
.hero-home {
    animation: heroFadeIn 1s ease-out;
}

@keyframes heroFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Efeito especial para elementos dentro do hero */
.hero-home .titulo-home,
.hero-home p,
.hero-home .buttons-home {
    animation: heroFadeIn 1s ease-out;
}

.hero-home .titulo-home {
    animation-delay: 0.2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.hero-home p {
    animation-delay: 0.4s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.hero-home .buttons-home {
    animation-delay: 0.6s;
    opacity: 0;
    animation-fill-mode: forwards;
}

/* Marquee com fade lateral */
.marquee.fade-in-element {
    transform: translateX(-30px);
}

.marquee.fade-in-visible {
    transform: translateX(0);
}

/* Responsivo - reduz movimento em telas menores */
@media (max-width: 768px) {
    .fade-in-element {
        transform: translateY(20px);
    }
}

/* Respeita preferências de movimento reduzido */
@media (prefers-reduced-motion: reduce) {
    .fade-in-element,
    .hero-home {
        transform: none;
        transition: opacity 0.3s ease-out;
    }
}
/*Animação fade*/