/*Fonts */

@font-face {
    font-family: Lovelo;
    src: url(../fonts/Lovelo\ Black.otf);
}


.roboto-uniquifier {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


body{
    background-color: white;
    margin: 0;

}

main{
    display: flex;
    width: auto;
    height: 100dvh;
    
    justify-content: center;
    align-items: center;
}
.teste{
    width: 50%;
    height: 500px;
    background-color: aqua;
    border: 5px solid violet;
}

/* HEADER */
header{
    background-color: #ffffff;
    position: fixed    ;
    width: 100%;
    box-shadow: 0px 3px 9px 0px #0000001c;
}
@media (max-width: 992px){
    ul{
    
    border-top: 1px solid #1700ad75;
    margin-top: 15px;
    padding-top: 10px;
    

}
}


.navbar-brand{
    img{
        width: 50px;
    }
}
.nav-item{
    border-radius: 5px;
    padding: 0px 0.5rem;
    width: fit-content;
    transition: ease-in-out 0.3s;
    border: 1px solid transparent;
}
.nav-item:hover{
    border: #5964ff 1px solid;
}

.btn-destaque{
    background-color: #1800ad;
    width: fit-content;
    transition: ease-in-out 0.3s;
    a{
        color: white !important;
    }
}
.btn-destaque:hover{
    background-color: #5964ff;
}

/* HEADER */

h1{
    font-family: Roboto;
    font-weight: normal;

    line-height: 28px;
}

span{
    font-family: Roboto;
}

label{
    font-family: Roboto;
}

h4{
    width: 50%;
    color: rgba(0, 0, 0, 0.359);

    text-align: justify;
    font-size: 10pt;
    font-family: Roboto;
    font-weight: normal;

    margin: 0;
}

h3{
    width: 50%;
    color: rgba(0, 0, 0, 0.57);
    font-size: 12pt;
    margin: 0;

    text-align: center;
    font-family: Roboto;
    font-weight: normal;
}