/*Fonts */

.roboto-uniquifier {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


body{
    background-color: white;
    margin: 0;

}

main{
    display: flex;
    width: auto;
    height: 100dvh;
    
    justify-content: center;
    align-items: center;
}

h1{
    font-family: Roboto;
    font-weight: normal;

    line-height: 28px;
}

span{
    font-family: Roboto;
}

label{
    font-family: Roboto;
}

h4{
    width: 50%;
    color: rgba(0, 0, 0, 0.359);

    text-align: justify;
    font-size: 10pt;
    font-family: Roboto;
    font-weight: normal;

    margin: 0;
}

h3{
    width: 50%;
    color: rgba(0, 0, 0, 0.57);
    font-size: 12pt;
    margin: 0;

    text-align: center;
    font-family: Roboto;
    font-weight: normal;
}

.main-content-login{
    display: flex;
    width: 75%;
    height: 87%;

    background-color: rgba(127, 255, 212, 0);

    justify-content: space-evenly;
    align-items: center;
}

.section-content-login{
    display: flex;
    width: 400px;
    height: 100%;

    background-color: rgba(255, 235, 205, 0);
    padding: 15px;

    flex-direction: column;
    row-gap: 15px;

    align-items: center;
    justify-content: center;
}

.section-content-img-login{
    width: auto;
    height: 70px;
    margin-bottom: 15px;
}

.section-content-img-login img{
    width: 100%;
    height: 100%;

    object-fit: contain;
}

.inputs-login{
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.inputs-login input{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 2px solid gray;
    transition: font-size 0.3s, border-bottom 0.2s;
}

.inputs-login input:hover{
    color: #1714A8;
    border-bottom: 2px solid #1714A8;
}

.inputs-login input:focus{
    outline: none;
    font-size: 13pt;

    color: #1714A8;
    border-bottom: 2px solid #1714A8;
}

.btn-action{
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: #1714A8;

    color: white;
    font-size: 13pt;
    font-family: Roboto;

    text-decoration: none;

    border-radius: 10px;

    margin-top: 35px;

    transition: letter-spacing 0.3s;
}

.btn-action:hover{
    background-color: #14118d;
    letter-spacing: 6px;
}

.section-content-h1-login{
    width: 300px;
    margin-bottom: 20px;
}

.section-content-h1-login h1{
    margin: 0;
    text-align: center;
}

.content-size-login{
    display: flex;
    width: 82%;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 15px;
}

.remember-content-login{
    width: 100%;
    text-align: start;
}

.input[type="checkbox" i]{
    background-color: #1714A8;
}

.block-hero-login{
    width: 600px;
    height: 90%;
}

.block-hero-login img{
    width: 100%;
    height: 100%;

    object-fit: contain;
}