/*Fonts */

.roboto-uniquifier {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


body{
    background-color: white;
    margin: 0;

}

main{
    display: flex;
    width: auto;
    height: 100dvh;
    
    justify-content: center;
    align-items: center;
}

h1{
    font-family: Roboto;
    font-weight: normal;

    line-height: 28px;
}

span{
    font-family: Roboto;
}

label{
    font-family: Roboto;
}

h4{
    width: 50%;
    color: rgba(0, 0, 0, 0.359);

    text-align: justify;
    font-size: 10pt;
    font-family: Roboto;
    font-weight: normal;

    margin: 0;
}

h3{
    width: 50%;
    color: rgba(0, 0, 0, 0.57);
    font-size: 12pt;
    margin: 0;

    text-align: center;
    font-family: Roboto;
    font-weight: normal;
}

.main-content-login{
    display: flex;
    width: 75%;
    height: 87%;

    background-color: rgba(127, 255, 212, 0);

    justify-content: space-evenly;
    align-items: center;
}

.section-content-login{
    display: flex;
    width: 400px;
    height: 100%;

    background-color: rgba(255, 235, 205, 0);
    padding: 15px;

    flex-direction: column;
    row-gap: 15px;

    align-items: center;
    justify-content: center;
}

.section-content-img-login{
    width: auto;
    height: 70px;
    margin-bottom: 15px;
}

.section-content-img-login img{
    width: 100%;
    height: 100%;

    object-fit: contain;
}

.inputs-login{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 18px;
}

.btn-action{
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: #1714A8;

    color: white;
    font-size: 13pt;
    font-family: Roboto;

    text-decoration: none;

    border-radius: 10px;

    margin-top: 35px;

    transition: letter-spacing 0.3s;

    border: 0px;
    cursor: pointer;
}

.btn-action:hover{
    background-color: #14118d;
    letter-spacing: 6px;
}

.section-content-h1-login{
    width: 300px;
    margin-bottom: 20px;
}

.section-content-h1-login h1{
    margin: 0;
    text-align: center;
}

.content-size-login{
    display: flex;
    width: 82%;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 15px;
}

.remember-content-login{
    width: 100%;
    text-align: start;
}

.input[type="checkbox" i]{
    background-color: #1714A8;
}

.block-hero-login{
    width: 600px;
    height: 90%;
}

.block-hero-login img{
    width: 100%;
    height: 100%;

    object-fit: contain;
}

/* Input animation*/
.wave-group {
  width: 100%;
  position: relative;
}

.wave-group .input {
  font-size: 16px;
  padding: 10px 0px 10px 0px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;

  z-index: 1;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: #14118d;
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 100%;
  z-index: 2;
}

.wave-group .bar:before,.wave-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #14118d;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  z-index: 2;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
}


/* Input animation*/


@media (max-width: 700px) {
  .block-hero-login{
    display: none;
  }
}