body{
    background-color: white;
    margin: 0;

}

main{
    display: flex;
    width: auto;
    height: 100dvh;
    
    justify-content: center;
    align-items: center;
}

h4{
    width: 50%;
    color: rgba(0, 0, 0, 0.359);

    text-align: justify;
    font-size: 10pt;

    margin: 0;
}

h3{
    width: 50%;
    color: rgba(0, 0, 0, 0.57);
    font-size: 12pt;
    margin: 0;

    text-align: center;
}

.main-content-login{
    display: flex;
    width: 80%;
    height: 82%;

    background-color: rgba(127, 255, 212, 0);

    justify-content: space-evenly;
}

.section-content-login{
    display: flex;
    width: 40%;
    height: 100%;

    background-color: rgba(255, 235, 205, 0);
    padding: 15px;

    flex-direction: column;
    row-gap: 15px;

    align-items: center;
    justify-content: center;
}

.section-content-img-login{
    width: auto;
    height: 70px;
}

.section-content-img-login img{
    width: 100%;
    height: 100%;

    object-fit: contain;
}

.inputs-login{
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.inputs-login input{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 2px solid gray;
}

.section-content-login a{
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #1714A8;

    color: white;
    font-size: 13pt;

    text-decoration: none;

    border-radius: 10px;
}

.section-content-h1-login h1{
    margin: 0;
    text-align: center;
}

.content-size-login{
    display: flex;
    width: 82%;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 15px;
}

.remember-content-login{
    width: 100%;
    text-align: start;
}