/*Fonts */

@font-face {
    font-family: Lovelo;
    src: url(../fonts/Lovelo\ Black.otf);
}


.roboto-uniquifier {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


body {
    background-color: white;
    margin: 0;

}

main {
    display: flex;
    width: auto;
    height: 100dvh;

    justify-content: center;
}

li img {
    width: 32px;
    opacity: 70%;

    transition: opacity 0.3s;
}

li img:hover {
    opacity: 100%;
}


/* HEADER */

/*Offcanvas*/
.offcanvas {
    display: none;
    width: 100% !important;
    z-index: 1050;
}

.offcanvas-body {
    justify-content: end;
}

.offcanvas-header {
    height: 100px;
}

.btn-close {
    margin-right: 20px !important;
}

/*Offcanvas*/

/* Forçar o menu desktop a aparecer e ficar à direita em telas grandes */
@media (min-width: 992px) {
    .navbar-nav-alternative {
        display: none !important;
    }

    #navbarDesktop {
        display: flex !important;
        justify-content: flex-end !important;
    }

    .navbar-collapse {
        flex-grow: 1;
    }
}

/* Garantir que o offcanvas funcione corretamente no mobile */
@media (max-width: 991px) {
    #navbarDesktop {
        display: none !important;
    }

    .navbar-nav-alternative {
        display: flex !important;
        padding: 0;
        flex-direction: column;
    }

    .navbar-nav-alternative a {
        color: #1800ad;
        text-decoration: none;
        width: 100%;
    }

    .navbar-nav-alternative li {
        display: flex;
        width: 100%;
        padding: 25px;
        border-bottom: 2px solid #15029163;
        border-radius: 0px;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-nav-alternative li span {
        font-size: 17pt;
        color: #1800ad;
    }

    .navbar-nav-alternative li:hover {
        background-color: rgba(128, 128, 128, 0.178);
        cursor: pointer;
    }

    .navbar-nav-alternative img {
        height: 20px;
    }
}

/* Garantir que o menu desktop apareça apenas em telas grandes */
@media (min-width: 992px) {
    .navbar-nav-alternative {
        display: none !important;
    }

}

/* Garantir que o offcanvas funcione corretamente no mobile */
@media (max-width: 991px) {
    #navbarDesktop {
        display: none !important;
    }

    .offcanvas {
        display: flex !important;
        width: 100% !important;
        z-index: 1050;
        visibility: visible !important;
    }

    .offcanvas-body {
        
        justify-content: end;
        visibility: visible !important;
    }

    .offcanvas-header {
        
        height: 100px;
        visibility: visible !important;
    }



    .navbar-nav-alternative {
        display: flex !important;
        padding: 0;
        flex-direction: column;
    }

    .navbar-nav-alternative a {
        color: #1800ad;
        text-decoration: none;
        width: 100%;
    }

    .navbar-nav-alternative li {
        display: flex;
        width: 100%;
        padding: 25px;
        border-bottom: 2px solid #15029163;
        border-radius: 0px;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-nav-alternative li span {
        font-size: 17pt;
        color: #1800ad;
    }

    .navbar-nav-alternative li:hover {
        background-color: rgba(128, 128, 128, 0.178);
        cursor: pointer;
    }

    .navbar-nav-alternative img {
        height: 20px;
    }
}


header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    box-shadow: 0px 3px 9px 0px #0000001c;
    z-index: 2;
}

/* Faz o risco apareer quando a tela é pequena */
@media (max-width: 992px) {
    ul {

        border-top: 1px solid #1700ad75;
        margin-top: 15px;
        padding-top: 10px;


    }
}

#logo {
    display: none !important;
}

.hide-button {
    display: flex;
    position: absolute;
    width: 100%;
    height: 700px;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0);
    justify-self: end;
    justify-content: end;
    align-items: end;
    z-index: 10;
}


.camada {
    z-index: 13;
}

.camada-nav {
    z-index: 900;
}

.hide {
    position: static;
    width: 100%;
    height: 60px;

    background-color: #ffffff;
}

.navbar-brand {
    img {
        width: 50px;
    }
}

.nav-item {
    border-radius: 5px;
    padding: 0px 0.5rem;
    width: fit-content;
    transition: ease-in-out 0.3s;
    border: 1px solid transparent;
}

.nav-item:hover {
    border: #5964ff 1px solid;

}


.navbar-nav .nav-link.show{
    color: #a0a0a0;
}

.nav-item-icon {
    border-radius: 10px;
    padding: 0px 0.5rem;
    width: 42px;
    height: 42px;

    width: fit-content;
    background-color: #ffffff;
    transition: ease-in-out 0.3s;
    color: #1D00D1;
    border: 1px solid transparent;
}

.nav-item-icon:hover {
    border: #5964ff 1px solid;
    background-color: #1D00D1;
    color: #ffffff;

}

.nav-link-icon {
    font-size: 1.3rem;
    width: 42px;
    height: 42px;
    color: #1D00D1;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.nav-link-icon:hover {
    font-size: 1.3rem;
    border-radius: 50px;
    width: 42px;
    height: 42px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    color: #ffffff !important;
}

/* HEADER */

h1 {
    font-family: Roboto;
    font-weight: normal;

    line-height: 28px;
}

span {
    font-family: Roboto;
}

label {
    font-family: Roboto;
}

h4 {
    width: 50%;
    color: rgba(0, 0, 0, 0.359);

    text-align: justify;
    font-size: 10pt;
    font-family: Roboto;
    font-weight: normal;

    margin: 0;
}

h3 {
    width: 50%;
    color: rgba(0, 0, 0, 0.57);
    font-size: 12pt;
    margin: 0;

    text-align: center;
    font-family: Roboto;
    font-weight: normal;
}

/*Bootstrap */

.ms-6 {
    margin-left: 5rem !important;
    /* ou o valor que quiser */
}

.me-6 {
    margin-right: 5rem !important;
}

/*Bootstrap */

/*Filter-search-bar */
.filter-search {
    display: flex;
    width: 100%;
    height: 50px;

    justify-content: center;
    position: sticky;
    top: 120px;

    z-index: 300;
}

.filter-search-bar {
    display: flex;
    padding: 8px;
    width: 73%;
    height: 52px;
    background-color: #1800ad;
    border-radius: 15px;

    top: 112px;

    position: fixed;
    align-items: center;
}

.filter-search-bar h1 {
    font-size: 9pt;
    width: 185px;
    height: 25px;
    color: white;
    font-family: Lovelo;

    margin: 0;

    border-right: 2px solid white;
    padding-right: 12px;
}

.filter-search-bar img {
    height: 80%;
    filter: invert();

    margin-right: 7px;
    margin-left: 12px;
}

.filter-search-bar select {
    width: 120px;
    margin-left: 7px;
    color: rgb(254, 254, 254);

    background-color: #1700ad00;
    border: none;

    font-size: 10pt;
    cursor: pointer;
}

.filter-search-bar select:focus {
    cursor: pointer;
    outline: none;
}

.filter-search-bar option {
    width: 120px;
    margin-left: 7px;
    color: #ffffff;

    background-color: #1700ad;
    border: none;
    outline: none;
    border-radius: 10px;

    font-size: 10pt;
}

.search-bar {
    width: 20%;
    height: 100%;

    border: rgba(255, 255, 255, 0.541) 2px solid;
    border-radius: 10px;

    background-color: rgba(245, 222, 179, 0);
    color: white;
    padding: 12px;

    font-size: 11pt;

    margin-left: auto;
    transition: width 0.3s, border 0.3s;
}

.search-bar::placeholder {
    color: rgba(255, 255, 255, 0.69);
}

.search-bar:focus {
    outline: none;
    width: 40%;

    border: rgb(255, 255, 255) 2px solid;

    background-color: rgba(245, 222, 179, 0);
}

/*Filter-seach-bar */

.separator {
    width: 100%;
    height: 150px;

    background-color: #5964ff00;
}

.catalog-block {
    display: flex;
    width: 100%;
    height: fit-content;

    background-color: rgba(250, 235, 215, 0);

    padding: 25px;
    justify-content: space-evenly;

    margin-bottom: 30px;
}

.catalog-block {
    padding: 0px 20px 20px 20px;
    display: flex;
    height: fit-content;
    background-color: rgba(250, 235, 215, 0);
    border-bottom: 1px solid #1700ad;

}

.flex-direcion-catalog {
    display: flex;
    flex-direction: row;
}

@media(max-width: 768px) {
    .flex-direcion-catalog {
        display: flex;
        flex-direction: column-reverse;


    }

    .img-block-catalog {
        display: flex;
        height: 100px;
        justify-content: center;
        overflow: hidden;
    }

    .img-block-catalog img {
        width: auto;
        height: 100%;
        object-fit: cover;
    }

    .text-catalog {
        margin: auto !important;

    }

    .text-button-catalog a {
        display: flex;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        width: 190px;
        height: 55px;
        padding: 15px;

        background-color: #1700ad;

        justify-content: center;
        align-items: center;

        text-decoration: none;
        color: white;
        font-size: 11pt;
        font-family: Roboto;

        border-radius: 5px;

        transition: background-color 0.1s;
    }
    .text-button-catalog span {
    display: flex !important;
    width: 150px !important;
    text-align: center !important;
    margin: auto !important;
}

}



.text-catalog {
    margin: auto;

}

.text-button-catalog {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-button-catalog h1 {

    font-family: Lovelo;
    margin: 0;
}

.text-button-catalog span {
    display: flex;
    width: 250px;
    opacity: 70%;
}

.text-button-catalog a {
    display: flex;
    margin-top: auto;
    margin-bottom: 50px;
    width: 190px;
    height: 55px;
    padding: 15px;

    background-color: #1700ad;

    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: white;
    font-size: 11pt;
    font-family: Roboto;

    border-radius: 5px;

    transition: background-color 0.1s;
}



.text-button-catalog a:hover {
    background-color: #130188;
}


.img-block-catalog {
    display: flex;
    height: 300px;
    justify-content: center;
    overflow: hidden;
}

.img-block-catalog img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media(max-width: 768px) {
    .img-block-catalog {
        display: flex;
        height: 200px;
        justify-content: center;
        overflow: hidden;
    }

    .img-block-catalog img {
        width: auto;
        height: 100%;
        object-fit: cover;
    }

    .text-catalog{
        text-align: center;
    }

    .text-svg-catalog{
        justify-content: center;
    }

    .text-svg-catalog span{
        display: flex;
        justify-content: center;
        text-align: center;
    }

}

.text-svg-catalog {
    display: flex;
    margin-bottom: 7px;
}

.text-svg-catalog img {
    margin-left: 7px;
}

/* Blur*/

.blur {
    position: fixed;
    width: 85%;
    height: 150px;

    z-index: 100;

    backdrop-filter: blur(11px) saturate(162%);
    -webkit-backdrop-filter: blur(11px) saturate(162%);
    background-color: rgba(17, 25, 40, 0);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

/* Blur */
/*Footer*/
footer {
    display: flex;
    margin: auto;
    width: 85%;
    height: 300px;

    background-color: #1811AC;
    border-radius: 10px 10px 0px 0px;

    padding: 35px 35px 35px 55px;

    ul {
        list-style: none;
        margin-top: 20px;
    }

    ul h1 {
        font-family: Roboto;
        font-size: 15pt;
        color: white;
    }

    li {
        font-family: Roboto;
        font-size: 11pt;
    }

    li a {
        color: rgba(255, 255, 255, 0.653);
        text-decoration: none;
    }

    li a:hover {
        color: rgb(255, 255, 255);
        text-decoration: underline;
    }
}

.svg-footer-content {
    width: 40%;
    height: 100%;

    background-color: #2a20dd00;
}

.svg-logo-footer {
    width: 150px;
}

.svg-logo-footer img {
    width: 100%;
    height: 100%;


    filter: brightness(0) invert(100%);
}

.svg-social-footer {
    display: flex;
    width: 150px;
    height: 30px;

    background-color: #1e15ce00;

    column-gap: 10px;
}

.svg-social-footer img {
    height: 100%;
    filter: invert();
}

.link-footer {
    display: flex;
    width: 60%;
    height: 100%;

    background-color: rgba(250, 235, 215, 0);

    column-gap: 45px;
}

/*Footer*/
/*Offcanvas*/
.offcanvas{
    width: 100% !important;
    z-index: 1050;
}
.offcanvas-body{
    justify-content: end;
}

.offcanvas-header{
    height: 100px;
}

.btn-close{
    margin-right: 20px !important;
}

/*Offcanvas*/

.navbar-brand {
    position: relative; /* Necessário para o z-index e transform */
    z-index: 1051; /* Garante que a logo fique acima do offcanvas */
    transition: transform 0.3s ease; /* Adiciona uma animação suave */
}

.navbar-brand.offcanvas-open {
    transform: translateX(-80%); /* Move a logo 50px para a esquerda */
}

.navbar-nav-alternative{
    display: none;
}

.navbar-nav-alternative a{
    color: #1800ad;
}

@media (max-width: 991px){
    .navbar-nav{
        display: none;
    }    

    .navbar-nav-alternative{
        display: flex;
        padding: 25px;
        flex-direction: column;
    }
    .navbar-nav-alternative a{
        height: auto;
        width: auto;
        color: #1800ad;
        font-size: 17pt;
    }
    .navbar-nav-alternative a:hover{
        color: #150291;
        text-decoration: none;
    }

    .navbar-nav-alternative li{
        display: flex;
        width: 100%;
        padding: 40px;

        border-bottom: 2px solid #15029163;

        border-radius: 0px;
        align-items: center;
        justify-content: start;
    }

    .navbar-nav-alternative li:hover{
        background-color: rgba(128, 128, 128, 0.178);
        cursor: pointer;
    }

    .navbar-nav-alternative img{
        margin-left: auto;
        height: 20px;
    }
}

@media (max-width: 600px) {
    .link-footer{
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    .link-footer h1{
        text-align: start;
    }

    footer{
        height: auto !important;
    }

    .filter-search-bar{
        display: flex;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 10px;
    }

    .filter-search-bar h1{
        display: none;
        height: auto;
        line-height: 15px;
        border-right: 0px;
        border-bottom: 1px solid white;
        padding-bottom: 5px;

        text-align: center;
    }

    .filter-search-bar img{
        display: none;
    }

    .filter-search-bar select{
        display: none;
    }

    .search-bar{
        height: 40px;
        margin-left: 0;
        width: 100%;
    }

    .search-bar:focus{
        width: 100%;
    }

    .blur{
        width: 97%;
    }

}

@media (max-width: 510px){
    footer{
        display: flex;
        flex-direction: column;
    }
}

.dropdown-menu{
    --bs-dropdown-link-active-bg: #1811AC;
}