/*Fonts */

@font-face {
    font-family: Lovelo;
    src: url(../fonts/Lovelo\ Black.otf);
}


.roboto-uniquifier {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


body{
    background-color: white;
    margin: 0;

}

main{
    display: flex;
    width: auto;
    height: 100dvh;
    
    justify-content: center;
}

li img{
    width: 32px;
    opacity: 70%;

    transition: opacity 0.3s;
}

li img:hover{
    opacity: 100%;
}

.teste{
    width: 50%;
    height: 500px;
    background-color: aqua;
    border: 5px solid violet;
}

/* HEADER */
header{
    background-color: #ffffff;
    position: fixed    ;
    width: 100%;
    box-shadow: 0px 3px 9px 0px #0000001c;

    z-index: 500;
}
@media (max-width: 992px){
    ul{
    
    border-top: 1px solid #1700ad75;
    margin-top: 15px;
    padding-top: 10px;
    

}
}


.navbar-brand{
    img{
        width: 50px;
    }
}
.nav-item{
    border-radius: 5px;
    padding: 0px 0.5rem;
    width: fit-content;
    transition: ease-in-out 0.3s;
    border: 1px solid transparent;
}

.btn-destaque{
    background-color: #1800ad;
    width: fit-content;
    transition: ease-in-out 0.3s;
    a{
        color: white !important;
    }
}
.btn-destaque:hover{
    background-color: #5964ff;
}

/* HEADER */

h1{
    font-family: Roboto;
    font-weight: normal;

    line-height: 28px;
}

span{
    font-family: Roboto;
}

label{
    font-family: Roboto;
}

h4{
    width: 50%;
    color: rgba(0, 0, 0, 0.359);

    text-align: justify;
    font-size: 10pt;
    font-family: Roboto;
    font-weight: normal;

    margin: 0;
}

h3{
    width: 50%;
    color: rgba(0, 0, 0, 0.57);
    font-size: 12pt;
    margin: 0;

    text-align: center;
    font-family: Roboto;
    font-weight: normal;
}

/*Bootstrap */

.ms-6 {
  margin-left: 5rem !important; /* ou o valor que quiser */
}

.me-6 {
  margin-right: 5rem !important;
}
/*Bootstrap */

/*Filter-search-bar */
.filter-search{
    display: flex;
    width: 100%;
    height: 50px;

    justify-content: center;
    position: sticky;
    top: 120px;

    z-index: 300;
}

.filter-search-bar{
    display: flex;
    padding: 8px;
    width: 73%;
    height: 52px;
    background-color: #1800ad;
    border-radius: 15px;

    top: 112px;

    position: fixed;
    align-items: center;
}

.filter-search-bar h1{
    font-size: 9pt;
    width: 185px;
    height: 25px;
    color: white;
    font-family: Lovelo;

    margin: 0;

    border-right: 2px solid white;
    padding-right: 12px;
}

.filter-search-bar img{
    height: 80%;
    filter: invert();

    margin-right: 7px;
    margin-left: 12px;
}

.filter-search-bar select{
    width: 120px;
    margin-left: 7px;
    color: rgb(254, 254, 254);

    background-color: #1700ad00;
    border: none;

    font-size: 10pt;
    cursor: pointer;
}

.filter-search-bar select:focus{
    cursor: pointer;
    outline: none;
}

.filter-search-bar option{
    width: 120px;
    margin-left: 7px;
    color: #ffffff;

    background-color: #1700ad;
    border: none;
    outline: none;
    border-radius: 10px;

    font-size: 10pt;
}

.search-bar{
    width: 20%;
    height: 100%;

    border: rgba(255, 255, 255, 0.541) 2px solid;
    border-radius: 10px;

    background-color: rgba(245, 222, 179, 0);
    color: white;
    padding: 12px;

    font-size: 11pt;

    margin-left: auto;
    transition: width 0.3s, border 0.3s;
}

.search-bar::placeholder{
    color: rgba(255, 255, 255, 0.69);
}

.search-bar:focus{
    outline: none;
    width: 40%;

    border: rgb(255, 255, 255) 2px solid;

    background-color: rgba(245, 222, 179, 0);
}
/*Filter-seach-bar */

.separator{
    width: 100%;
    height: 150px;

    background-color: #5964ff00;
}

.catalog-block{
    display: flex;
    width: 100%;
    height: 400px;

    background-color: rgba(250, 235, 215, 0);

    padding: 25px;
    justify-content: space-evenly;

    margin-bottom: 30px;
}

.text-button-catalog{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.text-button-catalog h1{
    font-family: Lovelo;
    margin: 0;
}

.text-button-catalog span{
    display: flex;
    width: 150px;
}

.text-button-catalog a{
    display: flex;
    width: 190px;
    height: 55px;
    padding: 15px;

    background-color: #1700ad;

    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: white;
    font-size: 11pt;
    font-family: Roboto;

    border-radius: 13px;

    transition: background-color 0.1s;
}

.text-button-catalog a:hover{
    background-color: #130188;
}

.text-svg-catalog{
    display: flex;
    margin-bottom: 7px;
}

.text-svg-catalog img{
    margin-left: 7px;
}

.img-block-catalog{
    width: 50%;
}

.img-block-catalog img{
    width: 100%;
    height: 100%;

    object-fit: contain;
}

/* Blur*/

.blur{
    position: fixed;
    width: 85%;
    height: 150px;

    z-index: 100;

    backdrop-filter: blur(11px) saturate(162%);
    -webkit-backdrop-filter: blur(11px) saturate(162%);
    background-color: rgba(17, 25, 40, 0);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
/* Blur */

/*Footer*/
footer{
    display: flex;
    width: 100%;
    height: 300px;

    background-color: #1811AC;
    border-radius: 10px 10px 0px 0px;

    padding: 35px 35px 35px 55px;
}

.svg-footer-content{
    width: 40%;
    height: 100%;

    background-color: #2a20dd00;
}

.svg-logo-footer{
    width: 150px;
}

.svg-logo-footer img{
    width: 100%;
    height: 100%;


    filter: brightness(0) invert(100%);
}

.svg-social-footer{
    display: flex;
    width: 150px;
    height: 30px;

    background-color: #1e15ce00;

    column-gap: 10px;
}

.svg-social-footer img{
    height: 100%;
    filter: invert();
}

.link-footer{
    display: flex;
    width: 60%;
    height: 100%;

    background-color: rgba(250, 235, 215, 0);

    column-gap: 45px;
}

ul{
    list-style: none;
    margin-top: 20px;
}

ul h1{
    font-family: Roboto;
    font-size: 15pt;
    color: white;
}

li{
    font-family: Roboto;
    font-size: 11pt;
}

li a{
    color: rgba(255, 255, 255, 0.653);
    text-decoration: none;
}

li a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
/*Footer*/